
				<div class="col-xs-6 col-sm-4 portfolio-item item">
					<div class="thumbpreview">
						<a href="{{ entry.url }}">
						{% for image in entry.thumbnail %}

							<img src="{{ image.getUrl('thumbnail') }}" alt="" class="brand">
							{% endfor %}
							<div class="overlay text-center">
								<p class="leadin">{{ entry.client }}</p>
								<h4>{{ entry.title }}</h4>
								<p class="leadin">{{ entry.portfolioCategory }}</p>
							</div>
						</a>
					</div>
				</div>