{% include '_includes/body-block-open' %}

	<div class="wrap">
		<div class="flex-parent">
			{% set limit = block.blogAggregateLimit %}
			{% for entry in craft.entries.section('blog').limit(limit) %}
				<div class="content-item item">
					<p class="leadin">
						{{ entry.category}} 
					</p>
					<h4>{{ entry.title }}</h4>
					<p><a class="read-this" href="{{ entry.url }}">Read This</a></p>
				</div>
			{% endfor %}
		</div>
		{% if block.blogAggregateMessage|length %}
			<div class="message text-center">
				{{ block.blogAggregateMessage }}
			</div>
		{% endif %}
	</div>

</div>