{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap sm-wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<div class="callout-content">
				{{ block.footerContactHeadline }}
					
				</div>
				<p class="footerTrigger">
					{{ block.footerContactCta }}
				</p>
			</div>
		</div>
	</div>
</div>