{% include '_includes/body-block-open' %}
	<div class="col-xs-12 ">
		<div class="wrap">
			<div class="flex-parent">
				{% for item in block.children %}
					<div class="package {% if item.active %}active{% endif %} item">
						<h3>{{ item.packageTitle }}</h3>
						{{ item.packageContent }}
						<p><span>Who is this for?</span></p>
						{{ item.packageWhoFor }}
						<div class="text-center">
							<a  href="{{ item.packageLink.first().url }}"  class="button">{{ item.packageCtaText }}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>