
{% include '_includes/body-block-open' %}
<div class="container-fluid">
	

	{% if block.brand|length %}
		<div class="wrap sm-wrap row">
			<div class="col-sm-2 hidden-xs">
				{% for image in block.brand %}
				<img src="{{ image.getUrl('thumbnail') }}" alt="" class="brand">
				{% endfor %}
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="qoute">
				"{{ block.quote }}"
				</p>
				<p class="byline">
					-{{ block.byline }}
				</p>
			</div>
			
		</div>
		{% else %}
		<div class="wrap sm-wrap">
			<p class="qoute">
				"{{ block.quote }}"
			</p>
			<p class="byline">
				-{{ block.byline }}
			</p>
		</div>
	{% endif %}
	</div>
</div>