{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 {% if block.timelineLeftPhoto|length %} padding-bottom {% endif %}">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-sm-offset-4">
						<div class="timeline-left">
							{{ block.timelineLeftContent }}

						</div>
					</div>

				</div>
				{% if block.timelineLeftPhoto|length %}
				{% for image in block.timelineLeftPhoto %}
				<img class="bleed-image-left" src="{{ image.getUrl() }}" alt="">
				{% endfor %}
				{% endif %}

			</div>

			<div class="col-12 col-sm-6 timeline-right">
				<p class="leadin">
					{{ block.timelineLeadinRight }}
				</p>
				<div class="timeline-content">



					{% for item in block.children %}
					<div class="timeline-item item">
						<h4>{{ item.timelineHeadline }}</h4>
						{{ item.timelineContent }}
					</div>

					{% endfor %}
				</div>
			</div>
			
		</div>
	</div>
</div>

