{% include '_includes/body-block-open' %}
	<div class="container-fluid div wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 item content">
				{{ block.copyLeft }}
			</div>
			<div class="col-xs-12 col-sm-6 item content">
				{{ block.copyRight }}
			</div>
		</div>

	</div>
</div>         
