
<div class="col-xs-12 {{ item.fieldWidth }} form-item">
	<select name="message[{{ item.fieldName }}]" id="{{ item.fieldName|lower|replace(' ', '-') }}">
		{% for row in item.selectValue %}
			<option value="{{ row.value }}">{{ row.value }}</option>
		{% endfor %}
	</select>
    
</div>