
<div class="col-xs-12 {{ item.fieldWidth }} form-item">
	<textarea {% if item.required %}required{% endif %} rows="10" cols="40" id="message" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}"name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
</div>