{% extends "_layouts/cp" %}

{% if leadId is not defined %}{% set leadId = null %}{% endif %}
{% set title = "Lead Details"|t %}
{% set content %}

    <div class="tableview">
        {% if leadId %}
            {% set lead = craft.leads.getLead(leadId) %}

            <h2>{{ lead.name }}</h2>

            <table id="leadDetailsTable" class="data fullwidth">
                <thead></thead>
                <tfoot></tfoot>
                <tbody>
                <tr>
                    <td>Email:</td>
                    <td>
                        <a href="mailto:{{ lead.email }}?subject=Greetings From {{ siteName }}">{{ lead.email }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Buyer or Seller:</td>
                    <td>{{ lead.status }}</td>
                </tr>
                {% if lead.comment|length %}
                    <tr>
                        <td>Comments:</td>
                        <td>{{ lead.comment }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Submitted:</td>
                    <td>{{ lead.dateCreated|date("m/d/Y") }}</td>
                </tr>
                </tbody>
            </table>

            <p><a href="{{ url('leads') }}">Go back to all leads</a></p>

        {% else %}
            <h3>Nobody here by that name.</h3>
        {% endif %}
    </div>
{% endset %}