@font-face {
    font-family: 'bebasregular';
    src: url('/resources/fonts/bebas___-webfont.woff2') format('woff2'),
         url('/resources/fonts/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600|Lato:300,300i,400,700,700i,900');