@mixin prefixer ($property, $value,
                 $webkit: true,
                    $moz: true,
                     $ms: false,
                      $o: false,
                   $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}
    
// Returns a background position for a vertical sprite.
@mixin sprite($num: 0, $size : 50px) {
  background-position: 0 (0-($num*$size));
}


// Webkit-style focus
// ------------------
@mixin tab-focus {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
  width: $width;
  height: $height;
}
@mixin square($size) {
  @include size($size, $size);
}


// Placeholder styles
@mixin placeholderColor($color: #efefef) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}


// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text {
  font: 0/0 a !important; 
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
@mixin border-radius($radius) {
  @include prefixer(border-radius, $radius);
}

// Single Corner Border Radius
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
      -moz-border-radius-topleft: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topright: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-bottomright: $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}

// Single Side Border Radius
@mixin border-top-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-top-left-radius($radius);
}
@mixin border-right-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}
@mixin border-bottom-radius($radius) {
  @include border-bottom-right-radius($radius);
  @include border-bottom-left-radius($radius);
}
@mixin border-left-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}

// Drop shadows
@mixin box-shadow($shadow){
  @include prefixer(box-shadow, $shadow);
}

// Transitions
@mixin transition($transition) {
  @include prefixer(transition, $transition, webkit, moz, ms, o);
}
@mixin transition-delay($transition-delay) {
  @include prefixer(transition-delay, $transition-delay, webkit, moz, ms, o);
}

// Transformations
@mixin rotate($degrees) {
  @include prefixer(transform, rotate($degrees), webkit, moz, ms, o);
}
@mixin scale($ratio) {
  @include prefixer(transform, scale($ratio), webkit, moz, ms, o);
}
@mixin translate($x, $y) {
  @include prefixer(transform, translate($x, $y), webkit, moz, ms, o);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y); // See https://github.com/twitter/bootstrap/issues/4885
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
}
@mixin translate3d($x, $y, $z) {
  @include prefixer(transform, translate3d($x, $y, $z), webkit, moz, false, o);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
@mixin backface-visibility($visibility){
	@include prefixer(backface-visibility, $visibility);
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip);
}

// Background sizing
@mixin background-size($size){
  @include prefixer(background-size, $size, webkit, moz, false, o);
}

// Box sizing
@mixin box-sizing($boxmodel) {
  @include prefixer(box-sizing, $boxmodel);
}

// User select
// For selecting text on the page
@mixin user-select($select) {
  @include prefixer(user-select, $select, webkit, moz, ms, o);
}

// Resize anything
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($columnCount, $columnGap: 20px) {
  -webkit-column-count: $columnCount;
     -moz-column-count: $columnCount;
          column-count: $columnCount;
  -webkit-column-gap: $columnGap;
     -moz-column-gap: $columnGap;
          column-gap: $columnGap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  @include prefixer(hyphens, $mode, webkit, moz, ms, o);
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=#{$opacity });
}

// Clean an element
// ----------------
@mixin clean {
  margin: 0;
  padding: 0;
}

// Gradients
@mixin horizontal-gradient($startColor: #555, $endColor: #333) {
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to right, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=1); // IE9 and down
  }
@mixin vertical-gradient($startColor: #555, $endColor: #333) {
    background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down
  }
@mixin directional-gradient($startColor: #555, $endColor: #333, $deg: 45deg) {
    background-color: $endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient($deg, $startColor, $endColor); // Standard, IE10
  }
@mixin vertical-three-colors-gradient($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
    background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: -moz-linear-gradient(top, $startColor, $midColor $colorStop, $endColor);
    background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
  }
@mixin radial-gradient($innerColor: #555, $outerColor: #333)  {
    background-color: $outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
    background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
    background-repeat: no-repeat;
  }
@mixin striped-gradient($color: #555, $angle: 45deg) {
    background-color: $color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }

/* Fluid Grid
-----------------
*/

@mixin rowGrid($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n + 1){
    clear:left;
  }
  &:nth-child(#{$numPerRow - 1}n + 1) {
    clear: none;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

// Black & White
@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

// Hide Logo Text
@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

// Font Size
@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


// Transforms
@mixin transform-single($property, $value) {
    transform: #{$property}#{unquote("(")}#{$value}#{unquote(")")};
}
@mixin rotate($deg) {
    @include transform-single(rotate, $deg);
}
@mixin rotateX($deg) {
    @include transform-single(rotateX, $deg);
}
@mixin rotateY($deg) {
    @include transform-single(rotateY, $deg);
}
@mixin rotateZ($deg) {
    @include transform-single(rotateZ, $deg);
}
@mixin rotate3d($x, $y, $z, $deg) {
    $multi-var: $x, $y, $z, $deg;
    @include transform-single(rotate3d, $multi-var);
}
@mixin scale($ratio) {
    @include transform-single(scale, $ratio);
}
@mixin scaleX($ratio) {
    @include transform-single(scaleX, $ratio);
}
@mixin scaleY($ratio) {
    @include transform-single(scaleY, $ratio);
}
@mixin scaleZ($ratio) {
    @include transform-single(scaleZ, $ratio);
}
@mixin scale3d($x, $y, $z) {
    $multi-var: $x, $y, $z;
    @include transform-single(scale3d, $multi-var);
}
@mixin skew($x, $y) {
    $multi-var: $x, $y;
    @include transform-single(skew, $multi-var);
    backface-visibility: hidden;
}
@mixin skewX($deg) {
    @include transform-single(skewX, $deg);
    backface-visibility: hidden;
}
@mixin skewY($deg) {
    @include transform-single(skewY, $deg);
    backface-visibility: hidden;
}
@mixin translate($x, $y) {
    $multi-var: $x, $y;
    @include transform-single(translate, $multi-var);
}
@mixin translateX($x) {
    @include transform-single(translateX, $x);
}
@mixin translateY($y) {
    @include transform-single(translateY, $y);
}
@mixin translateZ($z) {
    @include transform-single(translateZ, $z);
}
@mixin translate3d($x, $y, $z) {
    $multi-var: $x, $y, $z;
    @include transform-single(translate3d, $multi-var);
}


// Animations
@mixin animation ($duration, $animation, $ease) {
    @include prefixer(animation-duration, $duration);
    @include prefixer(animation-name, $animation);
    @include prefixer(animation-fill-mode, forwards);
    @include prefixer(animation-timing-function, $ease);

}

@mixin animation-delay ($delay){
  @include prefixer(animation-delay, $delay);

}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}



$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$desktop: 1025px;


$breakpoints: (
  'xs':   ( max-width:  480px ),
  'sm':  ( min-width:  768px ),
  'md': ( min-width:  992px ),
  'lg':  ( min-width: 1200px ),
  'xl':  ( min-width: 1400px ),
  'desktop': ( min-width: 1025px )
);

@mixin viewport($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}

$mix-percent-default:15%;

@function shade($color, $percent: $mix-percent-default){
  @return mix(black, $color, $percent);
}

@mixin bp($break, $viewport1: null) {
    // Preset breakpoint
    @if not $viewport1 {
        @if map-has-key($bp-media-queries, $break) {
            @media only screen and #{map-get($bp-media-queries, $break)} { @content; }
        }
        @else {
            @warn "Couldn't find a breakpoint named #{$break}.";
        }
    }
    @else {
        // min-width breakpoint
        @if $break == min {
            @media screen and (min-width: $viewport1) { @content; }
        }
        // max-width breakpoint
        @else if $break == max {
            @media screen and (max-width: $viewport1) { @content; }
        }
        // min-width & max-width breakpoint
        @else {
            @media screen and (min-width: $break) and (max-width: $viewport1) { @content; }
        }
    }
}


// Advanced positioning
@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    $allowed_types: absolute relative fixed;
    @if not index($allowed_types, $type) {
        @warn "Unknown position: #{$type}.";
    }
    @each $data in top $top, right $right, bottom $bottom, left $left {
        #{nth($data, 1)}: nth($data, 2);
    }
}
@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    @include position(absolute, $top, $right, $bottom, $left);
}
@mixin relative($top: null, $right: null, $bottom: null, $left: null) {
    @include position(relative, $top, $right, $bottom, $left);
}
@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
    @include position(fixed, $top, $right, $bottom, $left);
}



// Helper Mixins
// ------------------------

// Clearfix
@mixin clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Center an element vertically and horizontally
@mixin centerer {
    @include absolute(50%, null, null, 50%);
    @include translate(-50%, -50%);
}

// Center an element vertically
@mixin vert-centerer {
    @include relative(50%);
    @include translateY(-50%);
}

// Cover everything
@mixin coverer {
    @include absolute(0, null, null, 0);
    @include size(100%);
}

// Center a block level element
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clean an element
@mixin clean {
    margin: 0;
    padding: 0;
}


@mixin remSizes {
  @media screen and (min-width: 500px){
  
    font-size: 14px;
  
}
@media screen and (min-width: 570px){
  
    font-size: 15px;
  
}
@media screen and (min-width: 620px){
  
    font-size: 16px;
  
}
@media screen and (min-width: 680px){
  
    font-size: 17px;
  
}
@media screen and (min-width: 720px){
  
    font-size: 18px;
  
}
@media screen and (min-width: 800px){
  
    font-size: 19px;
  
}
@media screen and (min-width: 860px){
  
    font-size: 20px;
  
}
@media screen and (min-width: 920px){
  
    font-size: 21px;
  
}
@media screen and (min-width: 1000px){
  
    font-size: 22px;
  
}
}

