* {
  margin: 0;
  padding: 0;
  text-decoration: none
}


// Trigger Styles
$button-color:$secondary;
$button-font-size:24px;
$item-border:1px solid transparent;

//General Styles
$top-padding:4em;
$background-color:$secondary;
$background-hover: darken($background-color,20);
$active-color:white;
$item-color:$primary;

header > div.container-fluid {
  padding: 0;
}


#mobile-menu ul {
}
#mobile-menu,
#mobile-menu ul,
#mobile-menu ul li,
#mobile-menu ul li a,
#mobile-menu #head-mobile {
  margin-bottom: 0 !important;
  border: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#mobile-menu:after,
#mobile-menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

#mobile-menu #head-mobile {
  display: none
}

#mobile-menu {
  position: relative;
  @media screen and (min-width: 1025px) {
    background: none;
    float:right;

  }
}

#mobile-menu {
  .mobile-social {
    form.main-form {
      padding:0 10px 10px;
      input {
          padding: 0 10px;
          font-size: 12px;
          height: 30px;
          width: 50%;
          display: inline;
      }
      i {
        color:white;
        margin-left:1em;
      }
    }
    &:hover{
      background: none;
      
    }
    span {
      display: inline;
      a {
        width:auto !important;
        padding:auto;
      }
    }
  }
}

#mobile-menu > ul > li {
  float: left;

}

#mobile-menu > ul > li > a {
  padding: 17px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}

#mobile-menu > ul > li:hover > a,
#mobile-menu ul li.active a {
}

#mobile-menu > ul > li:hover,
#mobile-menu ul li.active:hover,
#mobile-menu ul li.active,
#mobile-menu ul li.has-sub.active:hover {
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}

#mobile-menu > ul > li.has-sub > a {
  padding-right: 26px
}

#mobile-menu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: white;
  content: ''
}

#mobile-menu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: white;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#mobile-menu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0
}

#mobile-menu ul ul {
  position: absolute;
  left: -9999px
}

#mobile-menu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: $background-color;
  transition: all .25s ease;
  margin-bottom: 0;
  padding: 0;
  z-index: 10000;
}

#mobile-menu ul ul li:hover {
}

#mobile-menu li:hover > ul {
  left: auto;
}

#mobile-menu li:hover > ul > li {
  height: 35px;
}

#mobile-menu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#mobile-menu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  //width: 170px;
  width: 230px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}

#mobile-menu ul ul li:last-child > a,
#mobile-menu ul ul li.last-item > a {
  border-bottom: 0
}

#mobile-menu ul ul li:hover > a,
#mobile-menu ul ul li a:hover {
  color: #fff
}

#mobile-menu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#mobile-menu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#mobile-menu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0
}

#mobile-menu ul ul li.has-sub:hover,
#mobile-menu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#mobile-menu ul ul ul li.active a {
  border-left: 1px solid $background-color
}

#mobile-menu > ul > li.has-sub > ul > li.active > a,
#mobile-menu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid $background-color
}

@media screen and (max-width: 990px) {

  .logo {
    position: relative;
    z-index: 3;
    top: 0;
    left: 10px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
    padding: 0;
    margin: 0;
    z-index: 33;
    a {
      display: inline-block;
    }
  }
  .logo2 {
    display: none
  }
  nav {
    width: 100%;
  }
  #mobile-menu {
    position: relative;
    z-index: 11;
    > ul {
    position: absolute;

    }
  }
  #mobile-menu ul {
    width: 100%;
    display: none;
    z-index: 12;
    background: $background-color;
    top: $top-padding;
  }
  #mobile-menu ul ul{
    top: 0px;
  }
  #mobile-menu ul li {
    width: 100%;
    border-top: $item-border;
    a {
      color:$item-color;
    }
    &.active {
      a {
        color:$active-color;
      }
    }
  }
  #mobile-menu ul li:hover {
    background: $background-hover;
  }
  #mobile-menu ul ul li,
  #mobile-menu li:hover > ul > li {
    height: auto;
  }
  #mobile-menu ul li a,
  #mobile-menu ul ul li a {
    width: 100%;
    border-bottom: 0;
    z-index: 11;
    padding:1em;
  }
  #mobile-menu > ul > li {
    float: none
  }
  #mobile-menu ul ul li a {
    padding-left: 25px
  }
  #mobile-menu ul ul li {
    background: darken($background-color,10) !important;
  }
  #mobile-menu ul ul ul li {
    background: darken($background-color,20) !important;
  }
  #mobile-menu ul ul li:hover {
    background: #363636 !important
  }
  #mobile-menu ul ul ul li a {
    padding-left: 35px
  }
  #mobile-menu ul ul li a {
    color: #ddd;
    background: none
  }
  #mobile-menu ul ul li:hover > a,
  #mobile-menu ul ul li.active > a {
  }
  #mobile-menu ul ul,
  #mobile-menu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left
  }
  #mobile-menu > ul > li.has-sub > a:after,
  #mobile-menu > ul > li.has-sub > a:before,
  #mobile-menu ul ul > li.has-sub > a:after,
  #mobile-menu ul ul > li.has-sub > a:before {
    display: none
  }
  #mobile-menu #head-mobile {
    z-index: 11;
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700
  }
  .mobile-button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    z-index: 12399994;
  }
  .mobile-button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
    padding: 2px;

  }
  .mobile-button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: ''
  }
  .mobile-button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 0;
  }
  .mobile-button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  #mobile-menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer
  }
  #mobile-menu .submenu-button.submenu-opened {
    background: #262626
  }
  #mobile-menu ul ul .submenu-button {
    height: 34px;
    width: 34px;
    top:0;
  }
  #mobile-menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: '';
  }
  #mobile-menu ul ul .submenu-button:after {
    top: 15px;
    right: 13px
  }
  #mobile-menu .submenu-button.submenu-opened:after {
    background: #fff
  }
  #mobile-menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ''
  }
  #mobile-menu ul ul .submenu-button:before {
    top: 12px;
    right: 16px
  }
  #mobile-menu .submenu-button.submenu-opened:before {
    display: none
  }
  #mobile-menu ul ul ul li.active a {
    border-left: none
  }
  #mobile-menu > ul > li.has-sub > ul > li.active > a,
  #mobile-menu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none
  }
}


#mobile-menu li.last > ul {
  right:0;
}

#menu-button {
  @include viewport(md){
    display: none;
  }
  text-align:right;
  margin-top: 1em;
  float:right;
  &.menu-opened {
    i {
      &:before {
        content: "\f00d";
      }
    }
  }
  i {
    color:$button-color;
    font-size: $button-font-size;
    margin-right: 1em;
    cursor:pointer;
  }
}