.mainnav {
@include transition(all .5s);
	ul{
		float:right;
		li {
			&.quote {
				@include viewport(md){
					margin-left: 20px;
				span {
					&:hover {
					    opacity:.8;
					  }
					padding:10px;
					border:solid 1px $secondary;
					text-transform: uppercase;
				  font-weight: 600;
					a {
						color:$secondary;
					}
				}
				}
				
			}
			&.active {
				a {
					color:$secondary;
				}
			}
			float:left;
			a {
				padding:3em 1em;
				font-size: 1.5rem;
				text-transform: uppercase;
				display: inline-block;
				color:$primary;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}

header {
	padding:4em 2em;
	margin-bottom: 5em;
	@include viewport(lg){
		padding:4em 0;
	}
}


