html{
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.4;
  font-size: 10px;
  color:$primary;
  @include remSizes;

}

// Body Copy Styles
$font-size:18px;
$font-weight: 100;
$link-weight:$font-weight;

// Button Styles 
$button-padding:1em 3em;
$button-font-size:16px;
$button-border:solid 1px $secondary;
$button-margin: 1em 0;
$button-text-transform: uppercase;
$button-font-weight:600;



/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $darkblue;
  margin: 0 0 16px;
  @include viewport(sm){
    margin: 0 0 2rem;
  }

}

h1 {
  font-size: 5rem;
  font-weight: 400;

}

h2 {
  font-size: 4rem;

}

h3 {
  font-size: 3.5rem;


}

h4 {
  font-size: 3rem;
}


.serif {
  font-family: $serif;
}

/* PARAGRAPH */

p,li {
 font-family: $body;
 font-size: $font-size;
 font-weight: $font-weight;

}
p {
  a {
    font-weight: $link-weight;
  }
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$link;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.content {
  p {
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul {
    padding:0 0 0 30px;
    margin: 1em 0;
    li {
      list-style-type: disc;
    }
  }
}

.button {
  padding:$button-padding;
  font-size: $button-font-size;
  border:$button-border;
  display: inline-block;
  color:$secondary;
  margin:$button-margin;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  cursor:pointer;
  &:visited {
    color:$secondary;
  }
  &:hover {
    opacity:.8;
    color:$secondary;

  }
}